html,body{
    margin: 0;
    padding: 0;
}

.document{
    height: 99vh;
    border: 1px solid black;
}

.center {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    margin-top: 100px;
}

.text-center{
    text-align: center;
}
.text{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}
.date-text{
    font-style: italic;
}

.rate-text{
    font-weight: 400;
}

.bold{
    font-weight: bold;
}